<div class="mx-8 my-8 flex-col" *transloco="let t">
  <div class="header flex-row items-between justify-center">
    <h3 class="bold">{{ title }}</h3>
    <ui-button
      variant="icon-button"
      [tooltip]="t('COMMON.CLOSE')"
      iconName="Close"
      mat-dialog-close
    ></ui-button>
  </div>
  <div class="content flex-row items-around justify-center">
    <form
      fxFlex="100"
      name="userForm"
      [formGroup]="form.get('data')"
      novalidate
      class="flex-col"
    >
      <h4 class="bold my-16">
        {{ t(translationContext + "ROLE") }} <tgo-icon>help</tgo-icon>
      </h4>

      <ui-segmented-button
        formControlName="role"
        [fullWidth]="true"
        [buttonConfig]="[
          {
            label: t('USER_ROLES.HIRING_MANAGER'),
            value: 'hiring_manager',
            tooltip: t(translationContext + 'HIRING_MANAGER_TOOLTIP')
          },
          {
            label: t('USER_ROLES.RECRUITER'),
            value: 'recruiter',
            tooltip: t(translationContext + 'RECRUITER_TOOLTIP'),
            disabled:
              curentUser &&
              curentUser.active_profile &&
              curentUser.active_profile.role === 'recruiter'
          },
          {
            label: t('USER_ROLES.ADMIN'),
            value: 'admin',
            tooltip: t(translationContext + 'ADMIN_TOOLTIP'),
            disabled:
              curentUser &&
              curentUser.active_profile &&
              !curentUser.active_profile.is_main_user
          }
        ]"
      ></ui-segmented-button>
      <mat-error *ngIf="form.get('data.role').hasError('serverError')">
        {{ (errors?.role || [])[0] }}
      </mat-error>

      <h4 class="mt-32 mb-16 bold">
        {{ t(translationContext + "USER_DETAILS") }}
      </h4>

      <!-- EMAIL -->
      <ui-tooltip
        position="top"
        [message]="t(translationContext + 'CANT_EDIT_EMAIL')"
        [disabled]="!form.get('data.username').disabled"
      >
        <ui-field
          formControlName="username"
          type="email"
          [label]="t(translationContext + 'WORK_EMAIL')"
          [errors]="
            form.get('data.username').hasError('serverError')
              ? errors?.username || []
              : []
          "
        ></ui-field>
      </ui-tooltip>

      <!-- FIRST NAME -->
      <ui-field
        formControlName="first_name"
        [label]="t(translationContext + 'FIRST_NAME')"
        [errors]="
          form.get('data.first_name').hasError('serverError')
            ? errors?.first_name || []
            : []
        "
      ></ui-field>

      <!-- LAST NAME -->
      <ui-field
        formControlName="last_name"
        [label]="t(translationContext + 'LAST_NAME')"
        [errors]="
          form.get('data.last_name').hasError('serverError')
            ? errors?.last_name || []
            : []
        "
      ></ui-field>
    </form>
  </div>
  <div class="actions mt-12 flex-row items-end justify-center">
    <ui-button
      class="mr-12"
      variant="ghost"
      [label]="t('COMMON.CANCEL')"
      mat-dialog-close
    ></ui-button>
    <ui-button
      [label]="t('COMMON.SAVE')"
      [disabled]="checkFormValues()"
      (click)="save()"
    >
    </ui-button>
  </div>
</div>
